* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@property --p {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 10%;
}
html,
body {
  scroll-behavior: smooth !important;
}
.cybersecurity-bootcamp {
  overflow-x: hidden;
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  width: 100%;
  .container {
    width: 100%;
    padding: 50px 10px;
    margin: 0 auto;
    @media screen and (min-width: 640px) {
      max-width: 640px;
    }
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 1024px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1180px;
    }
  }
  header {
    display: flex;
    justify-content: space-between;
    .right {
      display: flex;
      flex-direction: column;
      gap: 50px;
      @media screen and (min-width: 640px) {
        gap: 100px;
      }
      .logo-img {
        width: 125px;
      }
      .title {
        h1 {
          font-size: 16px;
        }
        color: white;
        white-space: nowrap;
        font-weight: 500;
        h2 {
          line-height: 1;
          background-color: #f5bd2d;
          width: fit-content;
          color: #43004f;
          margin-top: 15px;
          font-size: 20px;
          padding: 16px;
          border-radius: 100px;
        }
        @media screen and (min-width: 768px) {
          h1 {
            font-size: 18px;
          }
          h2 {
            font-size: 22px;
          }
        }

        @media screen and (min-width: 1024px) {
          h1 {
            font-size: 26px;
          }
          h2 {
            font-size: 30px;
          }
        }
      }
      .lock-img {
        width: 100%;
        @media screen and (min-width: 640px) {
          display: none;
        }
      }
    }
    .left {
      display: none;
      flex: 1;
      max-width: 600px;
      @media screen and (min-width: 640px) {
        display: block;
      }
      .lock-img {
        width: 100%;
        max-width: 600px;
      }
    }

    @media screen and (min-width: 768px) {
      .right .logo-img {
        width: 180px;
      }
      .left .lock-img {
        // width: 500px;
      }
    }
    @media screen and (min-width: 1024px) {
      .right .logo-img {
        width: 200px;
      }
      .left .lock-img {
        // width: 600px;
      }
    }
  }

  // .test {
  //   // position: fixed;
  //   // top: 5vh;
  //   // left: 50vw;

  //   .chart-circle:hover,
  //   .chart-circle:hover > .chart-indicator {
  //     --p: 80%;
  //   }

  //   .chart-circle,
  //   .chart-indicator {
  //     width: var(--size);
  //     aspect-ratio: 1;
  //     transition: --p 2s linear;
  //   }
  //   .chart-circle {
  //     --size: 200px;
  //     border-radius: 50%;
  //     --p: 10%; /*fallback*/
  //     background: conic-gradient(
  //       red calc(-60% + var(--p)),
  //       rgb(224, 187, 77) var(--p),
  //       #eee 0
  //     );
  //     position: relative;
  //     margin: auto;
  //     cursor: progress;
  //   }
  //   .chart-indicator {
  //     --size: min-content;
  //     offset: path("M -10,0 a 100 100 0 1 1 -.1 0 z");
  //     offset-distance: var(--p);
  //     font: 43pt serif;
  //     transform: rotateY(180deg) translateX(-6px);
  //   }
  //   .chart-circle::before {
  //     position: absolute;
  //     inset: 20px;
  //     content: "Going ten to eigthy percent";
  //     text-align: center;
  //     padding: 50px;
  //     font: italic 9pt "Enriqueta";
  //     border-radius: inherit;
  //     background: white;
  //   }
  //   figcaption {
  //     text-align: center;
  //     margin-top: 40px;
  //     font: 12pt "Enriqueta";
  //   }
  // }
  main {
    position: relative;
    color: white;
    width: 100%;
    > .title {
      position: relative;
      text-decoration: none;
      display: block;
      h3 {
        background-color: #9a20aa;
        width: fit-content;
        color: white;
        font-size: 16px;
        margin: 0 auto;
        line-height: 1;
        padding: 15px 30px;
        border-radius: 25px;
        @media screen and (min-width: 640px) {
          font-size: 20px;
        }
        @media screen and (min-width: 768px) {
          font-size: 26px;
        }
      }
      &.first,
      &.last {
        padding-bottom: 70px;
        &::before {
          position: absolute;
          content: "";
          width: 14px;
          height: 14px;
          left: 50%;
          transform: translate(-50%, 0%);
          bottom: 36px;
          border-radius: 50%;
          background-color: #9a20aa;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 1px;
          height: 50px;
          background-color: #9a20aa;
        }
      }
      &.last {
        padding-bottom: 0 !important;
        padding-top: 70px !important;
        &::before {
          bottom: auto !important;
          top: 36px !important;
        }
        &::after {
          bottom: auto !important;
          top: 0 !important;
        }
      }
    }
    .sections {
      // overflow: hidden;
      > section {
        @media screen and (min-width: 1024px) {
          width: calc(100% - 200px);
          padding: 50px;
          padding-left: 100px;
        }
        margin: 0 auto;
        padding: 40px;
        position: relative;
        border-radius: 100px;
        border: 1px solid transparent;
        border-bottom: 0;
        > h4 {
          font-size: 22px;
          @media screen and (min-width: 640px) {
            font-size: 35px;
          }
        }
        li {
          font-size: 12px;
          @media screen and (min-width: 640px) {
            font-size: 16px;
          }
        }
        .double-arrow {
          position: absolute;
          display: none;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
        }
        &::after,
        &::before {
          content: "";
          position: absolute;
          border-radius: 100px;
          height: 100%;
        }
        .section-img {
          position: absolute;
          display: flex;

          align-items: center;
          border: 1px solid #9a20aa;
          border-radius: 50%;
          background-color: #161521;
          img {
            width: 100%;
          }
          width: 90px;
          height: 90px;
          left: 40px;
          top: 10px;
          transform: translate(-50%, -50%);
          padding: 10px;
          @media screen and (min-width: 1024px) {
            padding: 20px;
            width: 140px;
            height: 140px;
            left: 0;
            top: 50% !important;
          }
        }
        .section-img-number {
          position: absolute;
          top: -40px;
          right: 0px;
          width: 30px;
          @media screen and (min-width: 1024px) {
            right: -100px;
            top: 0;
            width: 60px;
          }
        }
      }
      > section:nth-child(odd):not(:first-child) {
        .double-arrow {
          display: block;
          transform: scaleX(-1) translate(-50%, -50%);
          animation: moveAlongBorder 5s linear infinite;
        }
      }
      > section:nth-child(odd) {
        &::before {
          width: 50%;
          left: 0;
          top: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          border: 1px solid #9a20aa;
          border-right: 0;
        }
      }
      > section:nth-of-type(even) {
        .double-arrow {
          display: block;
          animation: moveAlongBorder2 5s ease-in-out infinite;
        }
        .section-img {
          top: 0px;
        }
        &::before {
          width: calc(100% - 100px);
          left: 100px;
          top: 0;
          border-top: 1px solid #9a20aa;
          border-right: 1px solid #9a20aa;
          border-top-left-radius: 0;
        }
        &::after {
          width: 50%;
          right: 0;
          top: 0;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border: 1px solid #9a20aa;
          border-left: 0;
        }
      }
      > section:nth-last-child(1) {
        border-bottom: 2px solid transparent;
      }
    }
    .register-details {
      display: flex;
      justify-content: space-evenly;
      > div:nth-child(1) {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        > div {
          @media screen and (min-width: 768px) {
            width: 30%;
          }
          display: flex;
          align-items: center;
          font-size: 16px;
          gap: 10px;
          img {
            width: 42px;
          }
        }
        > div:nth-last-child(1) {
          position: relative;
          @media screen and (max-width: 639px) {
            > p {
              position: absolute;
              margin-top: 0px !important;
              left: -10px;
              width: 200px;

              transform: translateX(-100%);
            }
          }
          @media screen and (min-width: 768px) {
            width: max-content;
          }
          > div {
            white-space: nowrap;
          }
          > p {
            margin-top: 15px;
            color: #f5bd2d;
          }
        }
      }
      > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 0 20px;
        h4 {
          text-align: center;
          font-size: 20px;
        }
        ul {
          background-color: #43004f;
          border-radius: 24px;
          li {
            padding: 20px;
            list-style: none;
            white-space: nowrap;
            position: relative;
            line-height: 1;
            font-size: 26px;
            height: fit-content;
            span span {
              font-size: 18px;
            }
            img {
              position: absolute;
              width: 40px;
              bottom: 15px;
              right: 66px;
            }
          }
          li:nth-child(2) {
            border-top: 1px solid #f5bd2d;
            color: #f5bd2d;
          }
        }
      }
    }
    > form {
      display: grid;
      padding-top: 50px;
      @media screen and (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
      }
      gap: 20px;
      > div {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        gap: 4px;
        input,
        select {
          background-color: rgba(0, 0, 0, 0.164);
          border: 1px solid #9a20aa;
          padding: 20px;
          border-radius: 28px;
          color: white;

          font-size: 16px;
        }
        option {
          color: black;
        }
      }
      > .submit {
        label {
          opacity: 0;
        }
        button {
          background-color: #9a20aa;
          color: white;
          cursor: pointer;
          width: fit-content;
          border-radius: 50px;
          border: 0;
          font-size: 22px;
          font-weight: 500;
          padding: 10px 50px;
          height: fit-content;
          margin: auto;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 50px 0;
    a {
      height: 1px;
      overflow: visible;
      box-shadow: 0px 0px 18px 2px #ffffff;
      display: flex;
      align-items: center;
      color: white;
      gap: 5px;
      svg {
        width: 25px;
      }
    }
  }

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }
  > .popup-form-result {
    width: 100%;
    max-width: 500px;
    position: fixed;
    padding: 50px;
    border-radius: 25px;
    z-index: 999999;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    background-color: #cccccc;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    font-weight: bold;
    color: #333333;
    &.failure {
      .success-logo {
        display: none;
      }
      small {
        display: none;
      }
    }
    .success-logo {
      width: 200px;
    }
    #closePopup {
      width: 25px;
      left: 20px;
      cursor: pointer;
      top: 20px;
      position: absolute;
    }
  }
  .my-20 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .mb-20 {
    padding-bottom: 80px;
  }
}
@keyframes moveAlongBorder {
  0% {
    width: 0;
    top: 0;
    left: calc(100% - 100px);
  }
  20%,
  80% {
    width: 25px;
  }
  100% {
    width: 0px;
    top: 0;
    left: 100px;
  }
}
@keyframes moveAlongBorder2 {
  0% {
    top: 0;
    width: 0;
    right: calc(100% - 100px);
  }
  20%,
  80% {
    width: 25px;
  }
  100% {
    width: 0;

    top: 0;
    right: 100px;
  }
}
